[build]
  command = "npm run build"
  publish = ".output/public"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200
  force = false

[functions]
  directory = ".netlify/functions"
  node_bundler = "esbuild"

